package.json
package-lock.json
.vscode/
node_modules/
db-config.js
logs-db-config.js
test-db.js
tests/
*.png
*.webmanifest
*.ico
*.log
*.svg

# Secrets e configurações sensíveis
.env
.env.*
!.env.example

# Node
npm-debug.log*

# OS
.DS_Store
Thumbs.db